*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* header part start*/
.header-title-part{
    background-color: rgb(32, 32, 32);
    color: white;
}
.title-name{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin: 12px auto;
}
.header-details-part{
    background-color: #8D0000;
    color: white;
    padding: 8px 0px;
}
.nav-items-show  ul{
    list-style: none;
    padding: 0;
    margin: 0;
   
}
.logo-detail-item{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    margin-right: 15px;
}

.logo-img{
    width: 80px;
    height: 50px;
}
.details-items{
    margin: 0px 8px;   
    border-right:2px solid white ;
    padding: 0px 15px;
    font-size: 18px;
    cursor: pointer;
}
.details-items:hover{
    background-color: white;
    color: #8D0000;
    border-radius: 5px;
}
.home-details , .time-details {
    border: none;
}

/* header part over*/
/* Banner Part Start */
.banner-main{
    position: relative;
}
.banner-overflow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.678);
    top: 0;
    bottom: 0;
    width: 100%;
    color: white;
}
.slide-img{
    height: 550px;
    
}
.banner-title{
    font-size: 55px;
}
.banner-motor{
    font-size: 70px;
    font-weight: 700;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}
/* Banner Part Over */
/* Good Fermance part start */
.good-header h2{
 color: #E83619;
 font-size: 25px;
 text-transform: uppercase;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: 700;
 margin-top: 40px;
}
.good-header h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: capitalize;
}
.goodFarmence-card{
    text-align: center;
   background-color: #F8F8F8;
   
}
.good-card-title{
    font-weight: 500;
}
.card-about-text{
    font-size: 14px;
}
/* Good Fermance part over */
/* Categorius part start */
.categorious-main{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 26% 100%, 26% 100%, 0 90%, 0 0);
}
.categorious-overflow{
    background-color: rgba(0, 0, 0, 0.658);
    color: white;
    height: 100%;
    padding: 50px 0px;
}
.cate-card{
    margin: 5px  ;
    padding: 15px;
    width: 90%;
    background-color: #fdf6f6;
    border-bottom: 5px solid #E63619;
    color: #E63619;
    cursor: pointer;
    
}
.cate-card-img{
    width: 80%;
    opacity: .4;
}
.cate-card-title{
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
    margin: 10px;
}
.cate-card:hover{
    background-color: #E63619;
    color: white;
}
.cate-card:hover .cate-card-img{
    opacity: .7;
}
.cate-icon{
    font-size: 25px;
    font-weight: 600;
    transition: 400ms;
}
.cate-expore{
    font-size: 20px;
    font-weight: 500;
}
.cate-card:hover .cate-icon{
    transform: rotate(180deg);
}
/* Categorius part over */
/* Feature part start */
.features-main{
    margin: 100px auto;
}
.feu-lev{
    color: #E83619;
    font-weight: 500;
}
.feu-title{
    font-size: 50px;
    font-weight: 700;
}
.fea-logo{
    width: 150px;
}
.feu-details{
    font-size: 18px;
    line-height: 25px;
    opacity: .9;
    margin-top: 20px;
}
.fea-card{
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    
}
.fea-card:hover{
    background-color: white;
    box-shadow: 0px 5px 15px silver;
}
.fea-card-header{
    padding: 30px 5px;
}
.fea-card-header h4{
    font-weight: 500;
    font-size: 22px;
}
.fea-card-header h5{
    color: #E63619;
    font-size: 22px;
}
.fea-card-img{
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.feat-img-main{
    background-color: silver;
    padding: 15px 0px;
    position: relative;
}
.feat-img-main-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.575);
    color: white;
    width: 100%;
    display: none;
}
.fea-img-icon{
    font-size: 50px;
    font-weight: 100;
}
.fea-card:hover .feat-img-main-overlay{
    display: flex;

}
.fea-unorder{
    list-style: none;
}

.fea-unorder li{
    border-left: 2px solid silver;
    padding: 0px 25px;
}
.fea-unorder li:nth-child(1){
    border: none;
}
/* Feature part over */
/* Above part start */
.above-main{
    background-size: cover;
    background-position:  cover;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}
.above-overflow{
    background-color: rgba(0, 0, 0, 0.692);
    color: white;
    height: 100%;
    padding: 120px 5px;
}
.above-hightligt{
    font-weight: 700;
    color: #cf0a0a;
    font-size: 20px;
}
.above-title{
    font-size: 43px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.above-details{
   color: #fdf6f6;
    line-height: 28px;
}
.above-icon{
    font-size: 100px;
    opacity: .8;
}
.above-mission-main{
    padding-left:30px ;
    border-left: 4px solid #d30c0c;
    margin-left: 50px;
}
/* Above part over */
/* Show Motors star */
.show-details-img-main{
 background-color: white;
 border-radius: 50%;
 padding: 8px;
}
.show-details-img-main img{
    width: 40px;
    height: 40px;
}
.show-motors-main{
    padding-top: 80px ;
    padding-bottom: 50px;
    background-color: #ece3e39c;
    
}
.show-details h5{
 color: #cf0a0a;
 margin: 20px auto;
 font-weight: 600;
}
.show-details h3{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 40px;
}
.show-side-img{
    width: 80%;
    transition: 400ms;
}
.show-side-img:hover{
    transform: scale(1.1);
}
/* Show Motors over */
/* Footer part start */
.footer-main{
    padding: 40px 10px;
    background-color: rgba(0, 0, 0, 0.925);
    color: white;
    
}
.footer-logo-main{
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
}
.footer-logo{
    width: 90%;
    height: 120px;
}
.footer-items ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer-items ul li{
    margin-top: 5px;
    padding: 5px;
}
.photo-stream-show{
    width: 100%;
    height: 60px;
}
/* Footer part over */
@media screen and (max-width:990px) {
    .title-name{
        font-size: 18px;
    }
    .logo-detail-item{
        width: 40%;
        text-align: center;
    }
    .logo-img{
        width: 140px;
        
    }
    .details-items{
        border: none;
        margin-top: 15px;
        
    }
    .banner-title{
        font-size: 35px;
        margin-bottom: 30px;
    }
    .banner-overflow  h5{
        font-size: 18px;
    }
    .banner-motor{
        font-size: 45px;
    }
    .categorious-main{
        clip-path: polygon(100% 0%, 100% 0, 100% 100%, 100% 100%, 26% 100%, 0 100%, 0 0);
    }
}
@media screen and (max-width:768px) {
    .cate-card{
        width: 70%;
        margin-left: 15%;
    }
}